{
    "semi": false,
    "singleQuote": true,
    "trailingComma": "es5",
    "tabWidth": 2,
    "useTabs": false,
    "jsxSingleQuote": true,
    "bracketSpacing": true,
    "arrowParens": "avoid",
    "printWidth": 80,
    "tailwindConfig": "./tailwind.config.js",  
    "plugins": [
      "prettier-plugin-tailwindcss"
    ]
  }
  